<html>
  <div class="parent">
    <div
      id="Education"
      class="item"
      style="background: url(https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/3601908.jpg) center center no-repeat; background-size: cover;"
    ></div>

    <div class="item last">
      <h2 class="mb-5">Education</h2>
      <ul>
        <li>
          <h6 class="text-danger">2020-2024</h6>
          <p>
            Bachelor's Degree in Information Technology with Specialization in
            Web Development <br />
            Holy Angel University
          </p>
        </li>
        <li>
          <h6 class="text-danger">2014-2020</h6>
          <p>
            Secondary School Colegio De Sebastian (Upper Secondary) <br />
            Infant Jesus Academy (Lower Secondary)
          </p>
        </li>
        <li>
          <h6 class="text-danger">2007-2014</h6>
          <p>
            Primary School <br />
            Infant Jesus Academy
          </p>
        </li>
      </ul>
    </div>
  </div>
</html>
