<html>
  <div id="cards_landscape_wrap-2">
    <div class="container">
      <h2 class="mb-5 text-center">References</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/laus.jpg"
                    alt=""
                  />
                </div>
                <div class="text-container">
                  <h6>Mark Laus</h6>
                  <p>
                    Department Dean <br />
                    Holy Angel University <br />
                    JDoe123@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/quinny.jpg"
                    alt=""
                  />
                </div>
                <div class="text-container">
                  <h6>Quinny Lacsina</h6>
                  <p>
                    University Professor <br />
                    Holy Angel University <br />
                    QLacsina@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/kisses.jpg"
                    alt=""
                  />
                </div>

                <div class="text-container">
                  <h6>Kisses Reyes</h6>
                  <p>
                    University Professor <br />
                    Holy Angel University <br />
                    KShanned@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/noie.jpg"
                  />
                </div>
                <div class="text-container">
                  <h6>Noie Manoy</h6>
                  <p>
                    University Professor <br />
                    Holy Angel University <br />
                    NManoy@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</html>
