<html>
  <h2 class="text-center">References</h2>
  <div id="cards_landscape_wrap-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/29472078_2099235066973111_4138437028418575998_n.jpg"
                    alt=""
                  />
                </div>
                <div class="text-container">
                  <h6>Mark Laus</h6>
                  <p>
                    Department Dean <br />
                    Holy Angel University <br />
                    JDoe123@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/206931545_2936639629957200_3975694369964868676_n.jpg"
                    alt=""
                  />
                </div>

                <div class="text-container">
                  <h6>Quinny Lacsina</h6>
                  <p>
                    University Professor <br />
                    Holy Angel University <br />
                    QLacsina@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/244589765_4629729170417098_951511493681947321_n.jpg"
                    alt=""
                  />
                </div>
                <div class="text-container">
                  <h6>Kisses Reyes</h6>
                  <p>
                    University Professor <br />
                    Holy Angel University <br />
                    KShanned@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img
                    src="https://stackblitz.com/files/github-eegfa5/github/SBaytan/github-eegfa5/main/src/app/pics/137509706_3631824880249357_7491781828433128486_n.jpg"
                    alt=""
                  />
                </div>
                <div class="text-container">
                  <h6>Noie Manoy</h6>
                  <p>
                    University Professor <br />
                    Holy Angel University <br />
                    NManoy@gmail.com <br />
                    (+63)9123452344
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</html>
