<html>
  <body class="bg-dark bg-gradient text-white py-5">
    <div id="about" class="bg-dark text-white" style="padding:80px 20px;">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-left text-md-center mb-3">
            <img
              class="rounded-circle img-fluid"
              src="https://cdn.jsdelivr.net/gh/SBaytan/6ADWEB@3e81c7bc92e578a6d9f5f8a9f4ff0f6ccc9c45ba/angular-ivy-5u3ukf/src/app/pics/resume_pic.jpg"
              style="max-width:80%;"
              alt="Profile Photo"
            />
          </div>
          <div class="col-md-9">
            <h1>Shem Ardelee Pioleen Baytan</h1>
            <h5>Web Development Student</h5>
            <p class="border-top pt-3">
              <strong>Age:</strong> 21 Years old <br />
              <strong>Date of Birth:</strong> November 5, 2001 <br />
              <strong>About me:</strong> Born and raised in San Fernando
              Pampanga, I study at Holy Angel University and currently aim to
              expand my skills and knowledge of web design techniques, I also
              intend to contribute and work on a meaningful project, and become
              a productive member of society as I learn.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
